
#display_excel_data { 
    text-align: center;
    font-size: xx-large; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:5px solid rgb(0, 0, 0);
    padding: 1%;
}

#punteggio { 
    text-align: center;
    font-size: xx-large; 
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:5px solid rgb(0, 0, 0);
    padding: 1%;
}

#validate {
    font-size: x-large;
}
.container {
    position: relative;
  }

h1{
    text-align: center;
}

